/* globals.css */
@import "tailwindcss";
@import "@heroui/styles";

@tailwind utilities;

:root, :host {
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e5e5e5;
    --color-gray-300: #d4d4d4;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #737373;
    --color-gray-600: #525252;
    --color-gray-700: #404040;
    --color-gray-800: #262626;
    --color-gray-900: #171717;

    --background: var(--color-gray-100);
    --foreground: var(--color-gray-900);
}

@media (prefers-color-scheme: dark) {
    :root, :host {
        --background: var(--color-gray-900);
        --foreground: var(--color-gray-100);
    }
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.page-title {
    color: var(--foreground);
}